
# key for server to sign authentication keys with
SECRET_KEY='secret'

# time to live for an issued json-web-token (JWT)
TOKEN_TTL="3h"

# url to a blockchain node's api
BLOCKCHAIN_URL='https://localhost:3001'

# url to authentication server's api
AUTHENTICATOR_URL='https://localhost:8080'

# allow self signed certificates during development
NODE_TLS_REJECT_UNAUTHORIZED='0'

# the number of attempts before the failsafe stops trying to candidate
FAILSAFE_ATTEMPTS=10

# ms per attempt in which the failsafe tries to candidate
FAILSAFE_MS_PER_ATTEMPT=10000
