
# key for server to sign authentication keys with
SECRET_KEY='secret'

# time to live for an issued json-web-token (JWT)
TOKEN_TTL="3h"

# url to a blockchain node's api
BLOCKCHAIN_URL='http://localhost:3001'

# url to authentication server's api
AUTHENTICATOR_URL='http://localhost:8080'

# the numberof attempts before the failsafe stops trying to vote
FAILSAFE_ATTEMPTS=10

# ms per attempt in which the failsafe tries to vote
FAILSAFE_MS_PER_ATTEMPT=10000
