.candidates-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.candidate-radio-button {
  margin: 20px;
}

#booth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vh;
}

#form-container {
  padding: 10px;
  width: 50vh;
}
#info-container {
  padding: 10px;
  width: 50vh;
}

mat-card {
  width: 400px;
}
