.candidates-radio-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 15px 0;
}

.candidate-radio-button {
  margin: 5px;
}

#booth-container {
  display: flex;
  flex-direction: row;
}

#form-container {
  padding: 10px;
}
#info-container {
  padding: 10px;
}
