.candidates-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.candidate-radio-button {
  margin: 20px;
}

.booth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
