#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 400px;
}

#login-form-title {
  text-align: center;
  padding: 10px;
}

.error {
  border: 2px red;
}
