<h3 id="login-form-title">
  Authentication Form
</h3>
<form id="login-form" [formGroup]="form">
    <mat-form-field *ngFor="let field of fields" appearance="standard">
      <mat-label>{{field.displayName}}</mat-label>
      <input
        matInput
        placeholder="{{field.placeholder}}"
        name="{{field.name}}"
        formControlName="{{field.name}}"
      >
    </mat-form-field>
  <div class="form-button">
    <button mat-flat-button color="primary"
            (click)="login()">Login</button>
  </div>
</form>
