<app-submission [conditionVar]="isAuthenticating" submissionText="Authenticating">
  <h3 id="login-form-title">
  Authentication Form
</h3>
  <form id="login-form" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="Zofia"
        name="fname"
        formControlName="fname"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Romanov"
        name="lname"
        formControlName="lname"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Social Security Number</mat-label>
      <input
        matInput
        placeholder="XXX-XX-XXXX"
        name="ssn"
        formControlName="ssn"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Zip Code</mat-label>
      <input
        matInput
        placeholder="28606"
        name="zip"
        formControlName="zip"
      >
    </mat-form-field>
  <div class="form-button">
    <button mat-flat-button color="primary"
            (click)="login()">Login</button>
  </div>
</form>
</app-submission>
