<app-submission [conditionVar]="isAuthenticating" submissionText="Authenticating">
  <form id="login-form" [formGroup]="form">
    <label id="login-form-title">
      Authentication Form
    </label>
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="Zofia"
        name="fname"
        formControlName="fname"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Romanov"
        name="lname"
        formControlName="lname"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Social Security Number</mat-label>
      <input
        matInput
        placeholder="XXX-XX-XXXX"
        name="ssn"
        formControlName="ssn"
      >
      <mat-error
        *ngIf="(loginFormControls.ssn.touched) && loginFormControls.ssn.errors?.required">
          Social security number is required
      </mat-error>
      <mat-error
        *ngIf="(loginFormControls.ssn.touched) && loginFormControls.ssn.errors?.pattern">
          Social security number must follow the correct format
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Zip Code</mat-label>
      <input
        matInput
        placeholder="28606"
        name="zip"
        formControlName="zip"
      >
    </mat-form-field>
  <div class="form-button">
    <button mat-flat-button color="primary" type="button" [disabled]="!form.valid"
            (click)="login()">Login</button>
  </div>
</form>
</app-submission>
