<div *ngIf="isAskingEmail; else prompt">
  <mat-dialog-content class="mat-dialog-container">
    <p>Please Enter Your Email</p>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="slimmyjimmy@gaga.com"
        name="email"
        [(ngModel)]="email"
      >
    </mat-form-field>
    <div mat-dialog-actions class="prompt-btn-grp">
      <button mat-button mat-dialog-close color="primary">Nevermind</button>
      <button mat-button mat-dialog-close="true" color="primary"
              (click)="onEmailSubmit()"
      >Submit</button>
    </div>
  </mat-dialog-content>
</div>
<ng-template #prompt>
  <mat-dialog-content class="mat-dialog-container">
    <p>
      We were unable to submit your vote at this time, but
      we can keep trying and notify you by email of our success.
    </p>
    <div mat-dialog-actions class="prompt-btn-grp">
      <button mat-button mat-dialog-close color="primary">Forget it</button>
      <button mat-button color="primary" (click)="switchPrompt()">Keep Trying</button>
    </div>
  </mat-dialog-content>
</ng-template>
