<div id="splash-container">
  <div id="splash-messages">
    <h1 id="welcome-message">Welcome to the eElections</h1>
    <h4 id="splash-submessage">Designed by Matt Maloney</h4>
  </div>
  <div class="spacer"></div>
  <div id="splash-candidate-list-container">
    <h3>
      Registered candidates
    </h3>
    <mat-list>
      <mat-list-item (click)="onCandidateClick(name)" *ngFor="let name of candidateNames$ | async">
        {{name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="spacer"></div>
  <div class="splash-btn-group">
    <div class="splash-btn">
      <button mat-flat-button color="primary" routerLink="login">Vote</button>
    </div>
    <div class="splash-btn">
      <button mat-flat-button color="primary" routerLink="results">Results</button>
    </div>
  </div>
</div>
